AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_ADMIN_KEY=
AZURE_FOUNDRY_PROJECT_ENDPOINT=
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt41mini-regulatory-001
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small-regulatory-001
AZURE_SEARCH_INDEX_NAME=regulatory-pdf-index-001
AZURE_KNOWLEDGE_SOURCE_NAME=regulatory-pdf-ks-001
AZURE_KNOWLEDGE_BASE_NAME=regulatory-pdf-kb-001
AZURE_FOUNDRY_AGENT_NAME=ai-regulatory-agent-001